* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

html {
    font-size: 100%; /* Defaults to 16px in most browsers but maintains user customization */
}

h1,
h2,
h3,
h4,
h5,
h6 {
    all: unset;
}

.website {
    position: relative;
}

.homepage {
    display: flex;
    justify-content: center;
    padding: 1.5rem 1.5rem;
}

.reference-image {
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: -2;
    width: 100%;
    height: auto;
    opacity: var(--opacity, 1); /* Defaults to 1 if not set */
}

header {
    position: relative;
    width: 100vw;
}

header > figure {
    max-width: 300px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
}

.header-figure-image {
    width: 100%;
    height: auto;
}

.header-figure-caption {
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
    padding-bottom: 0.5rem;
    color: white;
    font-size: 4.5rem;
}

.skewed-decoration {
    transform: skewY(-30deg) translateY(-30%);
    transform-origin: top center;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: -1;
    background-color: #209ab8;
}
