* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

html {
    font-size: 100%; /* Defaults to 16px in most browsers but maintains user customization */
}

h1,
h2,
h3,
h4,
h5,
h6 {
    all: unset;
}

.website {
    position: relative;
}

.homepage {
    display: flex;
    justify-content: center;
}

.reference-image {
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: -2;
    width: 100%;
    height: auto;
    opacity: var(--opacity, 1); /* Defaults to 1 if not set */
}

header {
    width: 100vw;
    padding: 6% 10%;
}

.header-content-wrapper {
    display: flow-root;
    background-color: white;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
    padding: 2rem;
}

p {
    margin-top: 1.5rem;
    font-size: 1.5rem;
    line-height: 1.9rem;
}

h1 {
    font-size: 3rem;
}

.header-figure-container {
    width: 100%;
    max-width: 100vw;
    margin-top: -6%;
    margin-left: -10%;
    margin-right: 30px;
    margin-bottom: -60px;
    position: relative;
    overflow: hidden;
    float: left;
    container-type: inline-size; /* To allow font size to be a % based on the container */
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}

.header-figure-image {
    max-width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

.header-figure-caption {
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
    padding-bottom: 0.5rem;
    color: white;
    font-size: 24cqw;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.skewed-decoration {
    clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 250px), 0% 100%);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: -1;
    background-color: #209ab8;
    opacity: 100;
}

/* Tablet only*/
@media (600px <= width <= 1000px) {
    .header-figure-caption {
        top: 12%;
        right: 7%;
        left: auto;
        bottom: auto;
        position: fixed;
        transform: translate(0%, 0%);
    }

    .header-content-wrapper {
        margin-top: 15%;
    }

    .header-figure-container {
        margin-top: -25%;
        margin-bottom: 20px;
    }
}

/* Tablet and Laptop */
@media (min-width: 600px) {
    .header-figure-container {
        max-width: clamp(300px, 50vw, 600px);
        aspect-ratio: 1;
    }

    .header-figure-image {
        transform: translateY(-80px);
    }

    .header-figure-caption {
        width: max-content;
        font-size: clamp(3rem, 14cqw, 5rem);
    }
}
